:root {
    --blue: #1992D4;
    --grey: #E2E8F0;
    --grey-strong: #787878;
    --yellow: #F0B429;
    --white: #f4f4f4;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    font-size: 62.5%;
}

.container {
    height: 100%;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    grid-template-areas: 
    "sidebar header header header"
    "sidebar content content content"
    "sidebar content content content"
    "sidebar content content content";
}

.sidebar {
    grid-area: sidebar;
    font-size: 2em;
    font-weight: bolder;
    color: var(--white);
    background-color: var(--blue);
    padding-left: 12.5%;
}

.logo {
    padding-top: 10px;
}


.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nav-item {
    flex: 1;
}

.nav-link  {
    text-decoration: none;
    font-weight: bolder;
    display: flex;
    color: var(--white);
}

.icons {
    display: inline-block;
    margin-right: 20px;
    width: 1.4em;
    height: 1.4em;
    margin-top: -2px;
}


.icon-brand {
    width: 70px;
    height: 70px;
    margin-bottom: -20px;
    margin-right: 12px;
    background-image: url(/src/icons/square-rounded-badge-outline.svg);
}

.icon-home {
    background-image: url(/src/icons/home.svg);
}

.icon-profile {
    background-image: url(/src/icons/clipboard-account-outline.svg);
}
.icon-message {
    background-image: url(/src/icons/message-reply.svg);
}

.icon-history {
    background-image: url(/src/icons/clock-time-four.svg);
}

.icon-task {
    background-image: url(/src/icons/note-multiple.svg);
}
.icon-communities {
    background-image: url(/src/icons/account-group.svg);
}

.icon-settings {
    background-image: url(/src/icons/cog.svg);
}
.icon-support {
    background-image: url(/src/icons/help.svg);
}
.icon-privacy {
    background-image: url(/src/icons/shield-check.svg);
}

.features {
    padding-top: 50px;
}



.options {
    padding-top: 50px;
}








.header {
    grid-area: header;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--grey);
}

.search-bar, .perfil-info {
    height: 35%;
}
.display-greetings, .buttons-container {
    height: 65%;
}

.search-container, .display-greetings {
    flex: 1 1 60%;
}

.perfil-info, .buttons-container {
    flex: 1 1 40%;
}

.search-container, .display-greetings {
    padding-left: 35px;
}
.search-container > form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-btn {
    border: 0px;
    background-color: var(--white);
    cursor: pointer;
}

.search-input {
    width: 100%;
    height: 40%;
    border-radius: 9999px;
    border: 2px solid black;
    background-color: var(--grey);
    padding-left: 10px;
}

.icon-search {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-bottom: -3px;
    margin-right: -10px;
    background-image: url(/src/icons/magnify.svg);
}

.perfil-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    
}

.notification-btn {
    cursor: pointer;
    border: 0;
    background-color: inherit;
}

.icon-notification {
    display: inline-block;
    background-image: url(/src/icons/bell-ring-outline.svg);
    width: 25px;
    height: 25px;
}


.perfil-image-small {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    
}

.perfil-info > span {
    font-size: 2em;
    font-weight: bold;
}

.display-greetings {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.perfil-image-big {
    width: 80px;
    height: 80px;
    border-radius: 999px;
}

.greetings-text {
    font-size: 1.4em;
    font-weight: bolder;
}

.greetings-text-user {
    font-size: 1.4em;
    font-weight: bolder;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-btn {
    flex-basis: 25%;
    height: fit-content;
    background-color: var(--blue);
    color: var(--white);
    font-weight: bolder;
    font-size: 1.4em;
    padding: 15px;
    border-radius: 9999px;
    border: 2px solid;
    cursor: pointer;
}

.content {
    grid-area: content;
    background-color: var(--grey);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-template-areas: 
    "projects projects info"
    "projects projects info"
    "projects projects info";
}

.user-projects-container {
    grid-area: projects;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 10px;
}
.user-project-header {
    flex: 1 1 100%;
    height: fit-content;
    padding-top: 10px;
}

.project {
    flex: 1 1 45%;
    height: 25%;
    border: 1px solid black;
    padding: 10px;
    background-color: var(--white);
}

.project-name {
    height: 25%;
}

.project-description {
    font-size: 1.2em;
    color: var(--grey-strong);
    font-weight: bolder;
    height: 50%;
}

.project-btn {
    cursor: pointer;
    background-color: inherit;
    border: 0px;
}

.project-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    height: 25%;
}

.icon-project {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.icon-favorite {
    background-image: url(/src/icons/star-plus.svg);
}
.icon-views {
    background-image: url(/src/icons/eye-plus.svg);
}
.icon-share {
    background-image: url(/src/icons/share.svg);
}


.info-website {
    grid-area: info;
}


